<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jpa="http://www.springframework.org/schema/data/jpa"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/data/jpa
    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
   	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

            <jpa:repositories base-package="com.lll.*" />
            <context:annotation-config />
            
	        <context:component-scan base-package="com.lll" />
	        
	        
	
 <!-- ////////////////////////////////// SPRING MVC MODULE ///////////////////////////////////////////////////////// -->
		
			<mvc:resources mapping="/resources/**" location="/resources/" cache-period="0" />
			<!-- cache-period="31556926"/> -->
		    <mvc:annotation-driven />
            
            <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
            <property name="cacheSeconds" value="0"></property>
            </bean>
	
		    <bean id="jspViewResolver" 
			class="org.springframework.web.servlet.view.InternalResourceViewResolver">
			<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
			<property name="prefix" value="/jsp/" />
			<property name="suffix" value=".jsp" />
		    </bean>

			<bean id="messageSource"
			class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
			<property name="basename" value="classpath:messages" />
			<property name="defaultEncoding" value="UTF-8" />
			</bean>

	        <bean id="appProperties"
	        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	        <property name="locations">
	        <list><value>classpath:application.properties</value></list>
	        </property>
	        </bean>
 
			<bean id="jpaVendorAdapter"
			class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
			<property name="database" value="MYSQL" />
			<property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" />
			</bean>
		 
		    <bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
		 
			<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
			<property name="entityManagerFactory" ref="entityManagerFactory" />
			<property name="dataSource" ref="dataSource" />
			<property name="jpaDialect" ref="jpaDialect" />
			</bean>
  
			<tx:annotation-driven transaction-manager="transactionManager" />
			 
			<bean id="dataSource"
			class="org.springframework.jdbc.datasource.DriverManagerDataSource">
			<property name="driverClassName" value="${db.sql.driver}" />
			<property name="url" value="${db.sql.url}" />
			<property name="username" value="${db.sql.username}" />
			<property name="password" value="${db.sql.password}" />
			</bean>
 
			<bean id="entityManagerFactory"
			class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
			<property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml" />
			<property name="persistenceUnitName" value="lll" />
			<property name="dataSource" ref="dataSource" />
			<property name="jpaVendorAdapter" ref="jpaVendorAdapter" />
			<property name="jpaDialect" ref="jpaDialect" />
			</bean>
 
           	
</beans> 			
		
			
			